*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px solid black;
    padding: 15px;
    border-radius: 10px;
    
}
header {
    display: flex;
    justify-content:space-between;
}

#info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 15px;
}

#chuva{

}






