@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    /* background-color: #5b1381; */
    background-image: linear-gradient(#911ae1, rgb(181, 172, 172));
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 70%;
}

.img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img > img {
    width: 180px;
    height: 180px;
}

p {
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    font-weight:bolder;
    color: #433c46;
    text-shadow: 1px 1px 1px;
}

 input {
    border: none;
    border-bottom: 3px solid #ee94fe;
    height: 20px;
    background-color: transparent;
    padding-left: 10px;
    outline: none;
    font-size: 17px;
 }

 ::placeholder {
    color: #000;
    font-size: 17px;
    opacity: 0.5;
 }
 button {
    width: 200px;
    align-items: center;
    justify-content: center;
    height: 30px;
    align-self: center;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 17px;
 }

 button:hover{
    background-color: rgba(156, 27, 160, 0.5);
 }