@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #5b1381;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.login {
    display: flex;
    flex-direction: column;
    
    gap: 10px;
    width: 70%;
}

p {
    font-size: 35px;
    font-family: 'Orbitron', sans-serif;
    font-weight:bolder;
    color: #140f16;
    text-shadow: 1px 1px 1px;
}

 input {
    border: none;
    border-bottom: 2px solid #f3aeff;
    height: 20px;
    background-color: transparent;
    padding-left: 10px;
    outline: none;
    font-size: 17px;
 }

 ::placeholder {
    color: #000;
    font-size: 17px;
    opacity: 0.5;
 }
 button {
    width: 200px;
    align-items: center;
    justify-content: center;
    height: 30px;
    align-self: center;
    border-radius: 15px;
    border: none;
    cursor: pointer;
 }